:root {
  --font-heading: "Forum", ui-serif, Georgia, "Times New Roman", serif;
  --font-body: "Inter", ui-sans-serif, system-ui, Roboto, Arial;
}
body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: var(--font-heading);
  letter-spacing: 0.02em;
}
p,
li {
  font-family: var(--font-body);
}
